.App {
  text-align: center; 
  z-index: 1; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.navbar { 

  font-size: 13px;  
  justify-content: space-around; 
  overflow-x: visible;
  display: flex; 
  



}  

.navbar p:active { 
  outline-style: dotted;
  outline-offset: 12px;
} 

.navbar p:hover { 

  text-decoration: underline; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 4px; 
}

.spotlight-container {
 
  background-color: blue; 
  
  min-height: 100vh; 
  width: 100%;
  position: relative;
  
  
  background-image: radial-gradient(
    
    circle 200px at var(--mouse-x) var(--mouse-y),
    
    
    rgba(255, 255, 255, 0.6) 0%, 
    
   
    #fff 100% 
    ); 


}


.spotlight-container > * {
  
  position: relative; 
  z-index: 2; 
}   

.image { 

  position: relative; 

} 

.text-overlay { 

  position: absolute; 
  top: 22%;  
  left: 15%;  
  display: flex; 
  letter-spacing: 200px; 
  font-size: 90px; 
  font-weight: bold; 
  color: orangered;  

}

.greyfooter { 

  background-color: #d4cecd; 
  justify-content: space-around; 
  display: flex;
}

